html
    background-color: #fff

body
    font-family: 'Montserrat', sans-serif
    font-size: 2rem

.container
    height: 100%
    width: 100%

#barra-pesquisa, #botao-pesquisa
    padding: 10px
    border-radius: 24px
    border: 1px solid #dfe1e5

#botao-pesquisa
    cursor: pointer

.pesquisa
    display: flex
    justify-content: center
    margin-top: 15px

.conteudo
    display: flex
    justify-content: center
    margin-top: 15px

#videos
    cursor: pointer
    display: flex
    justify-content: center
    flex-direction: column
    width: 60%

.card-video
    display: flex
    margin-bottom: 12px
    padding: 10px
    background-color: #ededed
    border-radius: 10px
    &__texto
        display: flex
        flex-direction: column
        border-left: 2px solid #ccc
        margin-left: 12px

.video-player
    width: 500px

.titulo-video
    font-size: 1.2rem
    font-weight: 600
    padding: 12px

.descricao-video
    font-size: .8rem
    padding: 12px